{% extends 'base.html' %}
{% block content %}
<script>
  $(document).ready(function() {
      function card(task) {
          return `
              <div class="col">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">${task.fields.title}</h5>
                        <h6 class="card-text">${task.fields.date}</h6>
                        <p class="card-text">${task.fields.description}</p>
                    </div>
                </div>
            </div>
        </div>
        `
      };
      function loop() {
        $.get("{% url 'todolist:show_json' %}", function(data) {
            $.each(data, function(i, value) {
                $("#refer").append(card(value));
            });
        });
    };
    $("#submitbutton").click(e => {
      e.preventDefault();
      const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
      $.ajax({
          type: "POST",
          url: "{% url 'todolist:add_task' %}",
          headers: { "X-CSRFToken": csrftoken },
          mode: "same-origin",
          data: {
            title: $("#titleinput").val(),
            description: $("#descinput").val(),
          },
          success: response => {
            $("#addtask").trigger("reset");
            $("#refer").prepend(card(response));
          },
          error: error => {
            console.log(error);
          },
        });
    });
    loop();
})
</script>
<style>
    a {
        text-decoration: none;
        color:inherit;
    }
    a:hover {
        color:inherit;
    }
    .MakeMarginOmegalol {
        margin-left: 5px;
        margin-bottom: 10px;
    }
    button {
        margin-bottom: 10px;
    }
</style>
<div class="MakeMarginOmegalol">
<h1>User:{{user}}</h1>

  <div class="modal fade" id="modall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <form method="post" id="addtask">
            {% csrf_token %}
            <div class="col text-center">
            <div class="form-floating mb-3 w-10">
                <input  type="text" class="form-control" name="title" id="titleinput" placeholder="Task Name">
                <label for="floatingInput">Title</label></div>
                <div class="form-floating">
                <input type="text" class="form-control" name="description" id="descinput" placeholder="Task Name" required>
                <label for="floatingInput">Description</label>
                <button class="btn btn-success my-3" type="submit" id="submitbutton" data-bs-dismiss="modal">Create Task</button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modall">
  Add New Task
</button>
<!-- <button class="btn btn-secondary" role="button"><a href="{% url 'todolist:create-forms' %}">Add New Task</a></button> -->
<div id="refer" class="row row-cols-1 row-cols-md-5 g-4"></div>
<button class="btn btn-secondary" role="button"><a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>
{% endblock content %}